language: java 
jdk: oraclejdk8 
 
before_install: 
 - chmod +x gradlew 
 
install: 
 - gradle wrapper --gradle-version 4.2
 - ./gradlew assemble -x test 
 
script: 
 - ./gradlew check
 - ./gradlew test